body {
  padding: 0;
  margin: 0 0 50px; }

.page {
  background-color: #eeeeee; }
  .page .nav {
    border-bottom: #dddddd 1px solid;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-flow: row; }
    .page .nav img {
      margin: 10px;
      width: 20px;
      height: 20px; }
    .page .nav .back {
      flex: 0 0 100px;
      line-height: 40px; }
    .page .nav .menu {
      flex: 1 1 auto;
      text-align: center; }
      .page .nav .menu ul {
        list-style: none;
        padding: 0;
        margin: auto;
        overflow: auto;
        width: 135px; }
        .page .nav .menu ul li {
          float: left;
          width: 45px;
          font-size: 14px;
          line-height: 40px;
          color: #666666; }
        .page .nav .menu ul .selected {
          border-bottom: #e0620d 3px solid; }
    .page .nav .others {
      flex: 0 0 80px; }
      .page .nav .others > div {
        float: right;
        height: 40px;
        width: 40px; }
        .page .nav .others > div a {
          display: block; }
        .page .nav .others > div .second-menu {
          margin-top: -5px;
          position: relative;
          left: -90px;
          width: 125px; }
          .page .nav .others > div .second-menu > div {
            position: relative;
            left: 100px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent rgba(0, 0, 0, 0.65) transparent; }
          .page .nav .others > div .second-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 125px;
            background-color: rgba(0, 0, 0, 0.65);
            border-radius: 5px; }
            .page .nav .others > div .second-menu ul li {
              padding: 5px; }
              .page .nav .others > div .second-menu ul li a {
                display: flex;
                flex-flow: row;
                height: 30px;
                line-height: 30px;
                text-decoration: none;
                color: white;
                font-size: 14px; }
                .page .nav .others > div .second-menu ul li a span:first-child {
                  flex: 0 0 40px;
                  text-align: center; }
                  .page .nav .others > div .second-menu ul li a span:first-child img {
                    width: 20px;
                    height: 20px;
                    margin: 5px; }
                .page .nav .others > div .second-menu ul li a span:last-child {
                  flex: 1 1 auto; }

#book {
  margin-top: 35px; }
  #book .main .images {
    background-color: #F0F9F9;
    text-align: center;
    padding: 10px 0; }
    #book .main .images img {
      height: 200px; }
  #book .main .info {
    background-color: white;
    padding: 10px 15px; }
    #book .main .info .title {
      font-size: 17px; }
    #book .main .info .price {
      margin-top: 10px;
      color: red;
      font-size: 13px; }
  #book .summary {
    margin-top: 10px;
    background-color: white; }
    #book .summary .content {
      padding: 20px 15px;
      height: 50px;
      font-size: 14px;
      line-height: 23px;
      overflow: hidden; }
    #book .summary .more {
      border-bottom: solid 1px #dddddd;
      text-align: center;
      height: 26px; }
      #book .summary .more img {
        width: 14px;
        height: 14px;
        margin: 6px; }
  #book .details {
    background-color: white;
    margin-top: 10px; }
    #book .details > div {
      display: flex;
      flex-flow: row;
      height: 40px;
      line-height: 40px;
      border-bottom: solid 1px #cccccc;
      padding: 0 15px; }
      #book .details > div > span:nth-child(1) {
        flex: 0 0 60px;
        color: #888888;
        font-size: 13px; }
      #book .details > div > span:nth-child(2) {
        flex: 1 1 auto;
        font-size: 13px; }
      #book .details > div > span:last-child {
        flex: 0 0 20px;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-top: 10px; }
  #book .review {
    background-color: white;
    margin-top: 10px; }

#details {
  margin-top: 35px;
  background-color: white;
  padding: 20px 25px; }
  #details > div {
    display: flex;
    flex-flow: row;
    height: 35px; }
    #details > div span:first-child {
      flex: 0 0 100px;
      color: #888888; }
    #details > div span:last-child {
      flex: 1 1 auto; }

#review {
  margin-top: 35px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  overflow: hidden; }
  footer .box {
    display: flex;
    flex-flow: row; }
    footer .box .cart a {
      text-decoration: none;
      color: #666666; }
    footer .box .collect, footer .box .cart {
      flex: 0 0 50px;
      width: 50px;
      text-align: center;
      background-color: white; }
      footer .box .collect .icon, footer .box .cart .icon {
        height: 30px; }
        footer .box .collect .icon img, footer .box .cart .icon img {
          width: 24px;
          height: 24px;
          margin: 5px 3px 1px 3px; }
      footer .box .collect .title, footer .box .cart .title {
        height: 20px;
        line-height: 20px;
        font-size: 11px; }
    footer .box .add_to_bookrack, footer .box .add_to_cart {
      flex: 1 1 auto; }
      footer .box .add_to_bookrack a, footer .box .add_to_cart a {
        display: block;
        text-decoration: none;
        color: white;
        height: 50px;
        line-height: 50px;
        text-align: center; }
    footer .box .add_to_bookrack {
      background-color: #F5B041; }
    footer .box .add_to_cart {
      background-color: #E74C3C; }

/*# sourceMappingURL=book_details.css.map */
