body {
    padding: 0;
    margin: 0 0 50px;
}

.page {
    background-color: #eeeeee;

    .nav {
        border-bottom: #dddddd 1px solid;
        position: fixed;
        top: 0;
        width: 100%;
        height: 35px;
        background-color: white;
        display: flex;
        flex-flow: row;

        img {
            margin: 6px;
            width: 23px;
            height: 23px;
        }

        .back {
            //padding: 4px;
            flex: 0 0 100px;
            line-height: 35px;
        }

        .menu {
            flex: 1 1 auto;
            text-align: center;

            ul {
                list-style: none;
                padding: 0;
                margin: auto;
                overflow: auto;

                width: 150px;
                li {
                    float: left;
                    width: 50px;
                    font-size: 14px;
                    line-height: 35px;
                    color: #666666;
                }

                .selected {
                    border-bottom : #e0620d 3px solid
                }
            }
        }


        .others {
            flex:  0 0 100px;

            > div {
                float: right;
                padding: 0 5px;
                height: 35px;
                width: 35px;

                a {
                    display: block;
                }

                .second-menu {
                    margin-top: -5px;
                    position: relative;
                    left: -90px;
                    width: 125px;

                    > div{
                        position: relative;
                        left: 100px;

                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent rgba(0, 0, 0, 0.65) transparent;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        width: 125px;
                        background-color: rgba(0, 0, 0, 0.65);
                        border-radius: 5px;

                        li {
                            padding: 5px;

                            a {
                                display: flex;
                                flex-flow: row;
                                height: 30px;
                                line-height: 30px;
                                text-decoration: none;
                                color: white;
                                font-size: 14px;

                                span:first-child {
                                    flex: 0 0 40px;
                                    text-align: center;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                        margin: 5px;
                                    }
                                }
                                span:last-child {
                                    flex: 1 1 auto;
                                }
                            }


                        }
                    }
                }
            }
        }
    }
}

#book {
    margin-top: 35px;

    .main {
        .images {
            background-color: #F0F9F9;
            text-align: center;
            //background-color: #dddddd;
            padding: 10px 0;
            img {
                height: 200px;
            }
        }

        .info {
            background-color: white;
            padding: 10px 15px;

            .title {
                font-size: 17px;
            }

            .price {
                margin-top: 10px;
                color: red;
                font-size: 13px;
            }
        }
    }


    .summary {
        margin-top: 10px;
        background-color: white;

        .content {
            padding: 20px 15px;
            height: 50px;
            font-size: 14px;
            line-height: 23px;
            overflow: hidden;
        }

        .more {
            border-bottom: solid 1px #dddddd;
            text-align: center;
            height: 26px;

            img {
                width: 14px;
                height: 14px;
                margin: 6px;
            }
        }
    }

    .details {
        background-color: white;
        margin-top: 10px;

        >div {
            display: flex;
            flex-flow: row;
            height: 40px;
            line-height: 40px;
            border-bottom: solid 1px #cccccc;
            padding: 0 15px;

            > span:nth-child(1) {
                flex: 0 0 60px;
                color: #888888;
                font-size: 13px;
            }

            > span:nth-child(2) {
                flex: 1 1 auto;
                font-size: 13px;
            }

            > span:last-child{
                flex: 0 0 20px;
                text-align: center;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin-top: 10px;
            }
        }
    }

    .review {
        background-color: white;
        margin-top: 10px;

    }

}

#details {
    margin-top: 35px;
    background-color: white;

    padding: 20px 25px;
    > div{
        display: flex;
        flex-flow: row;
        height: 35px;

        span:first-child {
            flex: 0 0 100px;
            color: #888888;
        }

        span:last-child {
            flex: 1 1 auto;
        }
    }
}

#review {
    margin-top: 35px;
}


footer {
    position: fixed;
    bottom : 0;
    width: 100%;
    height: 50px;
    padding: 0;
    overflow: hidden;

    .box {
        display: flex;
        flex-flow: row;

        .cart {
            a {
                text-decoration: none;
                color: #666666;
            }
        }

        .collect, .cart {
            flex: 0 0 50px;
            width: 50px;
            text-align: center;
            background-color: white;

            .icon {
                height: 30px;
                img {
                    width: 24px;
                    height: 24px;
                    margin: 5px 3px 1px 3px;
                }
            }
            .title {
                height: 20px;
                line-height: 20px;
                font-size: 11px;
            }
        }

        .add_to_bookrack, .add_to_cart {
            flex: 1 1 auto;
            a {
                display: block;
                text-decoration: none;
                color: white;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
        }

        .add_to_bookrack {
            background-color: #F5B041;
        }

        .add_to_cart {
            background-color: #E74C3C;
        }
    }
}