@charset "utf-8";
@import "../../plugins/widget.scss";


footer {
    background-color: white;
    border-top: solid 1px #dddddd;
    padding: 0;

    position: fixed;
    bottom: 0;
    width: 100%;

    @include ul('.nav', left, auto);
    .nav {
        li {
            width: 20%;
            height: 50px;

            @include a('a', #515151);

            a {
                display: flex;
                flex-flow: column;

                .icon {
                    flex: 0 0 30px;
                    height: 30px;

                    img {
                        width: 24px;
                        height: 24px;
                        margin: 5px 3px 1px 3px;
                    }
                }

                .title {
                    flex: 0 0 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 11px;
                }
            }
        }
    }
}
