@charset "utf-8";
@import "../plugins/widget.scss";

body {
    padding: 0;
    margin: 0;
}

#book-list {

    .book {
        background-color: white;
        margin-top: 1px;
        padding: 10px;

        @include a('a', #000);
        a {
            display: flex;
            flex-flow: row;

            .cover{
                flex: 0 0 100px;
                width: 100px;
                height: 125px;
                text-align: center;

                img {
                    max-width: 100px;
                    max-height: 125px;
                }
            }

            .details {
                padding: 0 10px;
                flex: 1 1 auto;
                height: 125px;

                display: flex;
                flex-flow: column;

                .title {
                    flex: 0 0 25px;
                    line-height: 25px;
                    font-size: 16px;
                }
                .summary {
                    flex: 1 1 auto;
                    padding: 10px 0;
                    overflow: hidden;
                    font-size: 13px;
                    color: #666666;
                }

                .author {
                    flex: 0 0 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                }
            }
        }
    }
}