@charset "utf-8";


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 40px;
    border-bottom: solid 1px #dddddd;
    box-shadow: 0 2px 12px -2px #cccccc;

    display: flex;
    flex-flow: row;
    text-align: center;

    .left {
        flex: 0 0 40px;
        font-size: 24px;
        line-height: 40px;
    }

    .middle {
        flex: 1 1 auto;
        line-height: 40px;
    }

    .right {
        flex: 0 0 40px;
        line-height: 40px;
        font-size: 13px;
        color: #00b0e8;
    }
}


.page {
    margin-top: 40px;
    padding: 15px;
}

.old, .new {
    display: flex;
    flex-flow: row;
    margin: 15px 0;

    span{
        flex: 0 0 75px;
        height: 30px;
        line-height: 30px;
    }

    input {
        flex: 1 1 auto;
        height: 30px;
        line-height: 30px;
    }
}