a{
  cursor: hand;
}
body{
  padding: 0;
  margin: 0;
}
.content-body{
  margin: 80px 50px;
  .book-to-repertory{

  }
}
table{
  tr{
    td,th{
      text-align: center;
    }
  }
}
.book-info-table{
  th,td{
    max-width: 250px;
    vertical-align: middle;
    height: 20px;
  }
}
.allOrderInfo-bookInfo{
  td{
    border: none;
    display: table-cell;
  }
}