/*///////////////////////// -- body -- ///////////////////////*/
/*///////////////////////// -- button -- ///////////////////////*/
/*///////////////////////// -- ul -- ///////////////////////*/
/*///////////////////////// -- hr -- ///////////////////////*/
.hr {
  border: none;
  border-top: #cccccc 1px solid; }

/*///////////////////////// -- a -- ///////////////////////*/
/*///////////////////////// -- input -- ///////////////////////*/
/*///////////////////////// -- textarea -- ///////////////////////*/
/*///////////////////////// -- scrollbar -- ///////////////////////*/
body {
  padding: 0;
  background-color: #eeeeee;
  margin: 0 0 50px; }

.search-section {
  width: 100%;
  position: fixed;
  z-index: 999999;
  display: flex;
  margin: 0;
  padding: 10px 0;
  height: 30px; }
  .search-section .messages, .search-section .classic {
    flex: 0 0 50px;
    width: 50px;
    height: 30px;
    color: white;
    text-align: center;
    margin: 3px; }
    .search-section .messages img, .search-section .classic img {
      width: 24px;
      height: 24px; }
  .search-section .search {
    text-align: center;
    flex: 1 1 auto;
    height: 30px; }
    .search-section .search .body {
      padding: 0;
      margin: auto;
      width: 100%;
      height: 30px;
      border-radius: 15px;
      background-color: white;
      display: flex; }
      .search-section .search .body .search-icon {
        flex: 0 0 30px;
        width: 30px;
        margin: 5px; }
        .search-section .search .body .search-icon img {
          width: 20px;
          height: 20px; }
      .search-section .search .body .search-input {
        flex: 1 1 auto; }
        .search-section .search .body .search-input input {
          height: 30px;
          width: 100%;
          display: block;
          outline: none;
          border: none; }
      .search-section .search .body .scan-icon {
        flex: 0 0 30px;
        width: 30px;
        margin: 5px; }
        .search-section .search .body .scan-icon img {
          width: 20px;
          height: 20px; }

.menu {
  background-color: white;
  border-bottom: solid 1px #cccccc; }
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    height: auto; }
  .menu ul li {
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
    float: left; }
  .menu ul li {
    width: 20%;
    height: 50px;
    padding: 5px 0; }
    .menu ul li a {
      text-decoration: none;
      color: #666666;
      font-size: 12px; }
    .menu ul li a .icon {
      height: 30px; }
      .menu ul li a .icon img {
        margin: 3px;
        width: 24px;
        height: 24px; }
    .menu ul li a .title {
      height: 20px;
      line-height: 20px; }

.menu-2 {
  display: flex;
  background-color: white;
  margin-bottom: 10px; }
  .menu-2 > div {
    flex: 1 1 auto;
    height: 175px;
    border-right: solid 1px #cccccc;
    text-align: center;
    padding: 15px 0; }
    .menu-2 > div a {
      text-decoration: none; }
    .menu-2 > div .title {
      margin: 5px 0;
      color: black; }
    .menu-2 > div .des {
      margin: 5px 0;
      font-size: 13px;
      color: #666666; }
    .menu-2 > div .image img {
      max-width: 100px;
      max-height: 125px; }

#book-list .book {
  background-color: white;
  margin-top: 1px;
  padding: 10px; }
  #book-list .book a {
    text-decoration: none;
    color: #000;
    font-size: inherit; }
  #book-list .book a {
    display: flex;
    flex-flow: row; }
    #book-list .book a .cover {
      flex: 0 0 100px;
      width: 100px;
      height: 125px;
      text-align: center; }
      #book-list .book a .cover img {
        max-width: 100px;
        max-height: 125px; }
    #book-list .book a .details {
      padding: 0 10px;
      flex: 1 1 auto;
      height: 125px;
      display: flex;
      flex-flow: column; }
      #book-list .book a .details .title {
        flex: 0 0 25px;
        line-height: 25px;
        font-size: 16px; }
      #book-list .book a .details .summary {
        flex: 1 1 auto;
        padding: 10px 0;
        overflow: hidden;
        font-size: 13px;
        color: #666666; }
      #book-list .book a .details .author {
        flex: 0 0 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px; }

#banner {
  min-height: 200px;
  overflow: hidden;
  position: relative; }
  #banner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    #banner ul li {
      float: left;
      overflow: hidden; }
  #banner #main {
    z-index: 0;
    width: 400%;
    position: relative; }
    #banner #main li {
      width: 25%; }
  #banner #slider-nav {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    right: 15px; }
    #banner #slider-nav li {
      width: 20px;
      height: 4px;
      border-radius: 2px;
      background-color: white;
      margin: 5px; }
      #banner #slider-nav li div {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0); }

/*# sourceMappingURL=index.css.map */
