@charset "utf-8";
@import "../plugins/widget.scss";

body {
    padding: 0;
    background-color: #eeeeee;
    margin: 0 0 50px;
}


.search-section {
    width: 100%;
    position: fixed;
    z-index: 999999;
    display: flex;

    margin: 0;
    padding: 10px 0;
    height: 30px;

    .messages, .classic {
        flex: 0 0 50px;
        width: 50px;
        height: 30px;
        color: white;
        text-align: center;

        margin: 3px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    .search {
        text-align: center;
        flex: 1 1 auto;
        height: 30px;

        .body {
            padding: 0;

            margin: auto;
            width: 100%;
            height: 30px;
            border-radius: 15px;
            background-color: white;

            display: flex;

            .search-icon {
                flex: 0 0 30px;
                width: 30px;

                margin: 5px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .search-input {

                flex: 1 1 auto;

                input {
                    height: 30px;
                    width: 100%;
                    display: block;
                    outline: none;
                    border: none;
                }
            }


            .scan-icon {
                flex: 0 0 30px;
                width: 30px;
                margin: 5px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.menu {
    background-color: white;
    border-bottom: solid 1px #cccccc;

    @include ul('ul', left, auto);
    ul {
        li {
            width: 20%;
            height: 50px;
            padding: 5px 0;

            @include a('a', #666666, 12px);
            a {
                .icon {
                    height: 30px;
                    img {
                        margin: 3px;
                        width: 24px;
                        height: 24px;
                    }
                }

                .title {
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
    }
}

.menu-2 {
    display: flex;
    background-color: white;
    margin-bottom: 10px;

    > div {
        flex: 1 1 auto;
        height: 175px;
        border-right: solid 1px #cccccc;
        text-align: center;
        padding: 15px 0;

        a {
            text-decoration: none;
        }

        .title {
            margin: 5px 0;
            color: black;
        }

        .des{
            margin: 5px 0;
            font-size: 13px;
            color: #666666;
        }

        .image {
            img {
                max-width: 100px;
                max-height: 125px;
            }
        }
    }
}

#book-list {

    .book {
        background-color: white;
        margin-top: 1px;
        padding: 10px;

        @include a('a', #000);
       a {
           display: flex;
           flex-flow: row;

           .cover{
               flex: 0 0 100px;
               width: 100px;
               height: 125px;
               text-align: center;

               img {
                   max-width: 100px;
                   max-height: 125px;
               }
           }

           .details {
               padding: 0 10px;
               flex: 1 1 auto;
               height: 125px;

               display: flex;
               flex-flow: column;

               .title {
                   flex: 0 0 25px;
                   line-height: 25px;
                   font-size: 16px;
               }
               .summary {
                   flex: 1 1 auto;
                   padding: 10px 0;
                   overflow: hidden;
                   font-size: 13px;
                   color: #666666;
               }

               .author {
                   flex: 0 0 20px;
                   height: 20px;
                   line-height: 20px;
                   font-size: 12px;
               }
           }
       }
    }
}


#banner {
    min-height: 200px;
    overflow: hidden;
    position: relative;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li {
            float: left;
            overflow: hidden;
        }
    }

    #main {
        z-index: 0;
        width: 400%;
        position: relative;

        li {
            width: 25%;
        }
    }

    #slider-nav {
        z-index: 999;
        position: absolute;
        bottom: 10px;
        right: 15px;

        li {
            width: 20px;
            height: 4px;
            border-radius: 2px;
            background-color: white;
            margin: 5px;

            div {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }
}